.premium {
    /* background-color: rgb(241, 237, 237); */
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important; */
    margin-top: 50px;
    margin-right: 20px;
    background-color: rgba(247, 241, 241, 0.1);
    backdrop-filter: blur(16px) brightness(125%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.premium h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #79C99E;
    margin: 0px;
}

.premium p {
    font-size: 0.7rem;
    font-style: italic;
    margin-top: 0px;
    color: white;
}

.premium li {
    font-size: 0.7rem;
}

.premium hr {
    width: 95%;
    color: white;
}

.list {
    text-align: start;
}

.list ul {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
}