body {
  margin: 0%;
  padding: 0%
}

.App {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 30%;
  background-color: rgb(94, 189, 230);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid grey
}

.header button {
  width: 70px;
  height: 87px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
}

.eachTask {
  display: flex;
}

.task {
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  color: black;
  margin: 10px;
  background-color: rgb(241, 237, 237);
  border-radius: 15px;
}

.task:hover {
  background-color: #97DB4F;
}


.taskTitle {
  display: flex;
  justify-content: space-between;
}

.taskInfo {
  padding: 0px 30px;
  width: 100%;
}

.taskInfo p {
  margin-bottom: 0px;
}

.taskTitle button {
  flex: 20%;
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding-left: 20px;
}

.taskTitle h2 {
  margin: 0px
}

.taskTitle h3 {
  margin: 0px;
  font-weight: lighter;
  font-size: 0.95rem;
  padding-top: 5px;
}


/* -------------- */

.left-panel {
  background-color: rgb(241, 237, 237);
  height: 100vh;
  width: 30%;
  padding: 20px 40px;
}

.left-panel h1 {
  font-size: 0.9rem;
  margin-bottom: 50px;
  color: #226F54
}

.right-panel {
  display: flex;
  width: 100%;
}

.column1 {
  padding: 20px 60px;
  width: 70%;
}

.column1 h1 {
  margin-bottom: 10px;
}

.currentDay {
  color: #97DB4F;
  margin: 0px;
  font-weight: lighter;
}

.column2 {
  width: 30%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.newTaskCard {
  display: flex;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.add-icon span {
  font-size: 1.5rem;
}

.add-icon {
  background-color: #226F54;
  padding: 5px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white
}

.add-inputs {
  padding-left: 20px;
  width: 80%
}

.add-inputs h6 {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.add-btn-container {
  display: flex;
  justify-content: end;

}

.add-btn {
  background-color: #79C99E;
  ;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

input {
  border: 1px solid rgb(227, 227, 227);
  width: 95%;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}

.descriptionInput {
  border: 1px solid rgb(227, 227, 227);
  width: 95%;
  height: 60px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.timeInput {
  width: 100%;
  color: gray
}

.time-category {
  display: flex;
}

.category-input {
  border: 1px solid rgb(227, 227, 227);
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  color: gray
}

.time-weather {
  background-color: rgb(241, 237, 237);
  border-radius: 15px;
  padding: 20px;
  height: 100px;
  width: 70%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  margin-top: 50px;
  margin-right: 20px;
}

.premium {
  background-color: rgb(241, 237, 237);
  border-radius: 15px;
  padding: 20px;
  height: 200px;
  width: 70%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  margin-top: 50px;
  margin-right: 20px;
}






/* -------- ICONS -------- */
.logo {
  width: 13px;
  margin-right: 10px;
}

.trash {
  width: 12px
}


/* -------- CALENDAR --------*/

.sdp {
  width: auto !important;
  margin-top: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  --theme-color: #79C99E !important;
  border-radius: 1rem !important
}

/* -------- BLOB --------*/
.style1 {
  opacity: 1;
  width: 175px
}

.style2 {
  stop-color: rgb(151, 219, 79)
}

.style3 {
  stop-color: rgb(121, 201, 158)
}