/* ----- INITIAL STYLE SETTINGS ----- */
body {
  margin: 0%;
  padding: 0%;
  font-size: 0.8rem;
}

.App {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}


/* ----- CALENDAR -----*/
.sdp {
  width: auto !important;
  margin-top: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  --theme-color: #79C99E !important;
  border-radius: 1rem !important
}


/* -------- BLOB --------*/
.style1 {
  opacity: 1;
  width: 175px;
  margin-right: 10px;
}

.style2 {
  stop-color: rgb(151, 219, 79)
}

.style3 {
  stop-color: rgb(121, 201, 158)
}