.left-panel {
    background-color: rgb(50, 49, 49);
    height: 100%;
    padding: 20px 40px;
}

.left-panel h1 {
    font-size: 0.9rem;
    color: #79C99E;
    margin-bottom: 0px;
}

.styleLogo {
    opacity: 1;
    width: 20px;
    margin-right: 10px;
}

.flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}