.left-panel {
    background-color: rgb(241, 237, 237);
    height: 94vh;
    width: 20%;
    padding: 20px 40px;
    /* position: fixed; */
}

.left-panel h1 {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #226F54
}

.logo {
    width: 13px;
    margin-right: 10px;
}