.eachTask {
    display: flex;
    padding-left: 50px;
}

.task {
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    color: black;
    margin: 10px;
    background-color: #87d279;
    border-radius: 15px;
}

.task:hover {
    background-color: rgb(241, 237, 237);
}

.completedTask {
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    color: black;
    margin: 10px;
    background-color: rgb(241, 237, 237);
    border-radius: 15px;
}

.completedTask .taskTitle h2 {
    font-weight: lighter;
    text-decoration: line-through;
}

.taskInfo {
    width: 100%;
}

.taskTitle p {
    margin-bottom: 0px;
    font-size: 0.75rem
}

.taskTitle {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.taskTitle button {
    flex: 20%;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding-left: 20px;
}

.taskTitle h2 {
    margin: 0px;
    font-size: 1rem;
    font-weight: bold;
}

.hour-update-delete h3 {
    margin: 0px;
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 0.95rem;
    padding-top: 5px;
}


/* ----- CATEGORY ICONS ----- */
.category-icon {
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.workout {
    background-image: url('./../../../../../public/img/hand-holding-dumbbell.png');
}

.work {
    background-image: url('./../../../../../public/img/briefcase.png');
}

.health {
    background-image: url('./../../../../../public/img/medical-shield.png');
}

.social {
    background-image: url('./../../../../../public/img/fist-bump-gesture.png');
}

.other {
    background-image: url('./../../../../../public/img/other.png');
}


/* ----- OTHER ICON ----- */
.check {
    width: 15px
}

.check:hover {
    cursor: pointer;
}

.trash {
    width: 18px
}

.trash:hover {
    cursor: pointer;
}