.newTaskCard {
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    background-color: rgba(247, 241, 241, 0.1);
    backdrop-filter: blur(16px) brightness(125%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.add-icon {
    background-color: #79C99E;
    padding: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #323131;
}

.add-icon span {
    font-size: 1.5rem;
}



/* ----- INPUTS FORM ----- */
.add-inputs {
    padding-left: 20px;
    width: 92%
}

.add-inputs h6 {
    margin-top: 8px;
    margin-bottom: 15px;
    color: white;
}

input {
    border: 1px solid rgb(227, 227, 227);
    width: 95%;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8rem;
}

.taskName-input {
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.time-category {
    display: flex;
    font-size: 0.7rem;
    margin-bottom: 5px;
    margin-right: 12px
}

.time-input {
    width: 100%;
    color: gray
}

.category-input {
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    color: gray
}

.description-input {
    border: 1px solid rgb(227, 227, 227);
    width: 95%;
    height: 60px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    margin-bottom: 10px;
}



/* ----- BUTTON ----- */
.add-btn-container {
    display: flex;
    justify-content: end;
}

.add-btn {
    background-color: #79C99E;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #323131;
    cursor: pointer;
    margin-right: 10px;
}